.diagnosticos-layout {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
}

.diagnosticos-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.diagnosticos-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* CARD SINTOMAS */
.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.card h3 {
  color: #1e3a8a;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 130px;
  background-color: #1e5ed8;
  border: none;
  border-radius: 6px;
  padding: 15px;
  color: white;
  resize: none;
  font-size: 14px;
}

/* INPUTS */
.inputs-row {
  display: flex;
  gap: 20px;
}

.input-box {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
}

.input-box label {
  display: block;
  margin-bottom: 8px;
  color: #1e3a8a;
}

.input-box input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: #d9d9d9;
}

/* PALPITE */
.palpite-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palpite-card h4 {
  margin-bottom: 10px;
  color: #1e3a8a;
}

.palpite-card select {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: #d9d9d9;
}

.btn-enviar {
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar:hover {
  background-color: #163172;
}
