.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
}

.logo img {
  width: 36px;
}

.logo strong {
  color: #0066e6;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links a {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #0066e6;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #004bb5;
}

.btn-login {
  color: #0066e6 !important;
  background-color: #fff !important; 
  border: 2px solid #0066e6;
}

.btn-login:hover {
  color: #0066e6;
  background-color: #ccc !important;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 12px;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}