<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #333;
}

html {
  scroll-behavior: smooth;
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #333;
}

html {
  scroll-behavior: smooth;
>>>>>>> e5a7bb1fd7dd0aab02e157889b8a5203ba89feb2
}