.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
  display: flex; /* Adicionado para alinhar */
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #0066e6;
  font-weight: 500;
}

.btn-login {
  background-color: #0066e6;
  color: white !important;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
}